*,*::before,*::after{
    box-sizing: border-box;
}

*{
    margin : 0;
    padding: 0;
}

a{
    text-decoration:None;
    color:black;
}

/* Header */

/* Main */

/* Footer */

main{
    padding:10%;
}

Header{

    padding-top: 10px;
    display:grid;
    row-gap: 10px;
}

#mode{
    grid-row: 1;
    height:max-content;
    display:flex;
    justify-content: end;
    margin:10px;
    list-style-type: none;

}

#mode>li:first-child{
    margin-right: 50px;
}

#navigation{
    display:flex;
    list-style-type: none;
    justify-content: space-around;
    grid-row: 2;
    box-shadow: 1px 5px 5px rgb(0,0,0,0.5);
    height:max-content;
    padding-bottom: 20px;
}

#navigation>li{
    padding:10px;
    background-color: lightblue;
    transition: all 0.4s;
    border-radius: 10px;
}

#navigation>li:hover{
    background-color:rgb(214, 245, 255);
}

/* Main */

main{
    background-color: black;
}

#indicateur{
    width:100px;
    
}

#taille_planète{
    height:400px;
    width:400px;
}

#cadrage_image{
    display:flex;
    
    justify-content: center;
}



/* footer */

footer{
    box-shadow: -1px -5px 5px rgb(0,0,0,0.5);
    padding:30px;
    
}

#footer_liste{
    list-style-type: none;
    display:flex;
    justify-content: space-around;
}

#footer_liste>li:hover{
    text-decoration: underline;
    cursor:pointer;
}

#test{
    height:1000px;
    
}